﻿
@{
    ViewBag.Title = "Fitness";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2 style="text-align:center">Fitness Center</h2>
    <br>
    <div align=center>
        <img align="middle" src="~/Images/category_description/fitness.jpg">
    </div>
    <section class="py-lg-5">
        <div class="container">
            <p style="font-size:larger">
                <br>
                <br>
                The link between exercise and mental health is complicated. Inactivity can be both a cause and
                a consequence of mental illness, for example. And while we don’t know exactly why or how
                exercise boosts mood, here are some possible explanations: <br>
                Regular exercise can help you sleep better. And good sleep helps you regulate your moods.<br>
                Exercise can improve your sense of control, coping ability and self-esteem. People who exercise
                regularly often report how good achieving a goal makes them feel. <br>
                Exercise can distract you from negative thoughts and provide opportunities to try new experiences. <br>
                It offers an opportunity to socialize and get social support if you exercise with others.<br>
                The levels of chemicals in the brain, such as serotonin, stress hormones and endorphins, change
                when you exercise. <br>
                Exercise increases your energy levels.<br>
                Physical activity can be an outlet for your frustrations. <br>
                Exercise can reduce skeletal muscle tension, which helps you feel more relaxed.
            </p>
            </div>
    </section>*@
<section class="about" id="about">
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Sports
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Return Back", "Index", "Sports")
            </li>
            <li class="breadcrumb-item active">Sports Description</li>
        </ol>
        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-6">
                <img class="img-responsive" src="@Url.Content("~/Images/category_description/fitness.jpg")" alt="About us">
            </div>
            <div class="col-lg-6">
                <h2>Fitness Centers</h2>
                <p style="font-size:large">
                    The link between exercise and mental health is complicated. Inactivity can be both a cause and
                    a consequence of mental illness, for example. And while we don’t know exactly why or how
                    exercise boosts mood, here are some possible explanations:
                    Regular exercise can help you sleep better. And good sleep helps you regulate your moods.
                    Exercise can improve your sense of control, coping ability and self-esteem. People who exercise
                    regularly often report how good achieving a goal makes them feel.
                    Exercise can distract you from negative thoughts and provide opportunities to try new experiences.
                    <br>
                </p>
            </div>
        </div>
    </div>
</section>