﻿@model IEnumerable<MindU_I2.Models.Sport>
@{
    ViewBag.Title = "Sports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Custom scripts for pop-up-google-map-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
@Styles.Render("~/Content/RS_Home.css")
@Scripts.Render("~/Scripts/like1.js")
<script>
    function myFunction(addr) {
        //window.open("https://www.w3schools.com");
        window.open("https://www.google.com/maps/place/" + addr);
    }
</script>

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2 style="color:orangered; font:bold;">Sports</h2>
            <p style="font-size:larger; text-align:justify;">Exercise helps us feel good because it releases chemicals like "endophins" and "serotonin" that improves our mood. It also helps us to get in touch with the real world, help to reduce feelings of loneliness and isolation.</p>
            <p style="font-size:larger; text-align:justify;">If we exercise regularly, it can reduce stress and symptoms of mental health conditions like depression, anxiety and help with recovery from mental health issues.</p>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <img class="img-circle" src="@Url.Content("~/Images/sports/sport_banner.jpg")" alt="Sport Banner" style="width:300px; height:300px;">
        </div>

    </div>
    <section class="search">
        <div class="form-inline">
            <div>
                <br>
                <h3 class="text-center" style="color:white; margin-top:3px;">Search sports</h3>
            </div>
            @using (Html.BeginForm("Index", "Sports", FormMethod.Get, new { role = "form", @class = "form-inline" }))
            {
                <div class="form-group">
                    <div class="col-md-12" style="width:auto;">
                        @Html.TextBox("name", null, new { @class = "form-control", @placeholder = "Search by name" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12" style="width:auto;">
                        @Html.DropDownList("category", new SelectList(ViewBag.selectList, "value", "text", ViewBag.defaultSelect), new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-light btn-xl">Search</button>
                    </div>
                </div>
            }
        </div>
    </section>
    <section class="ARTS" style="margin-bottom:10%;">
        @if (Model.Count() == 0)
        {
            <h3 class="text" style=" text-align:center;">No items found</h3>
        }

        <!--Foreach to list art spaces-->

        @foreach (var item in Model)
        {
            
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card" style="width:530px; height:460px;">
                    <p class="card-head">
                        @foreach (var imgItem in item.SportImages)
                        {
                            <a>
                                <img src="@Url.Content("~/images/sports/" + Path.GetFileName(imgItem.imgPath))" alt=@Html.DisplayFor(modelItem => item.name) width="530" height="300" />
                            </a>
                        }
                    </p>
                    <h3 class="card-title">
                        @item.name
                    </h3>
                    <div class="card-body">
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.address), @Html.DisplayFor(modelItem => item.suburb), VIC @Html.DisplayFor(modelItem => item.postcode)
                        </p>
                    </div>
                    <div class="text-center">
                        <!--need to change the atrr in db-->
                        <p class="text-center">
                            <a class="btn btn-primary btn-xl" onclick="myFunction('@item.address ' + '@item.suburb ' + 'VIC' + ' @item.postcode')">Go to Map</a>
                            &nbsp;&nbsp;
                            @foreach (var rateItem in item.SportRatings)
                            {
                                <a href="javascript:void(0)" class="like" data-id="@rateItem.rid">
                                    <img src="@Url.Content("~/Images/rs_icons/heart.png")" alt="like" style="width:20px; height:20px;">
                                    @Html.DisplayFor(modelItem => rateItem.likes)
                                </a>
                            }
                        </p>
                    </div>

                </div>
            </div>
        }

    </section>
</div>
<br>
<br>
<br>
<div class="text-center">

    @if (ViewBag.Page > 0)
    {
        <a href="@Url.Action("Index", new { page = ViewBag.Page - 1 })"
           class="btn btn-primary btn-xl align-content-between">
            Previous
        </a>
    }
    @if (ViewBag.Page < ViewBag.MaxPage)
    {
        <a href="@Url.Action("Index", new { page = ViewBag.Page + 1 })"
           class="btn btn-primary btn-xl align-content-between">
            Next
        </a>
    }
</div>

