﻿
@{
    ViewBag.Title = "Pilates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2 style="text-align:center">Pilates</h2>
    <br>
    <div align=center>
        <img align="middle" src="~/Images/category_description/pilate.jpg">
    </div>
    <section class="py-lg-5">
        <div class="container">
            <p style="font-size:larger">
                <br>
                <br>
                Since its creation in the 1920s, Pilates has been used around the world to increase muscle
                strength and tone, improve flexibility and posture and lose weight. However, more research is
                suggesting that Pilates also has a wide range of mental health benefits.
            </p>
        </div>
    </section>*@
<section class="about" id="about">
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Sports
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Return Back", "Index", "Sports")
            </li>
            <li class="breadcrumb-item active">Sports Description</li>
        </ol>
        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-6">
                <img class="img-responsive" src="@Url.Content("~/Images/category_description/pilate.jpg")" alt="About us">
            </div>
            <div class="col-lg-6">
                <h2>Pilates</h2>
                <p style="font-size:large">
                    Since its creation in the 1920s, Pilates has been used around the world to increase muscle
                    strength and tone, improve flexibility and posture and lose weight. However, more research is
                    suggesting that Pilates also has a wide range of mental health benefits.
                    <br>
                </p>
            </div>
        </div>
    </div>
</section>