﻿
@{
    ViewBag.Title = "Swimming";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2 style="text-align:center">Swimming</h2>
    <br>
    <div align=center>
        <img align="middle" src="~/Images/category_description/swimming.jpg">
    </div>
    <section class="py-lg-5">
        <div class="container">
            <p style="font-size:larger">
                <br>
                <br>
                Any kind of physical activity can have a positive effect on mental health and wellbeing, but
                swimming is particularly effective. Swimming for just half an hour three times a week can lower
                stress levels, raise mood, lower incidences of depression and anxiety and improve sleep patterns.
            </p>
        </div>
    </section>*@
<section class="about" id="about">
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Sports
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Return Back", "Index", "Sports")
            </li>
            <li class="breadcrumb-item active">Sports Description</li>
        </ol>
        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-6">
                <img class="img-responsive" src="@Url.Content("~/Images/category_description/swimming.jpg")" alt="About us">
            </div>
            <div class="col-lg-6">
                <h2>Swimming</h2>
                <p style="font-size:large">
                    Any kind of physical activity can have a positive effect on mental health and wellbeing, but
                    swimming is particularly effective. Swimming for just half an hour three times a week can lower
                    stress levels, raise mood, lower incidences of depression and anxiety and improve sleep patterns.
                    <br>
                </p>
            </div>
        </div>
    </div>
</section>