﻿
@{
    ViewBag.Title = "ThaiChi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2 style="text-align:center">Tai Chai</h2>
    <br>
    <div align=center>
        <img align="middle" src="~/Images/category_description/taichi.jpg">
    </div>
    <section class="py-lg-5">
        <div class="container">
            <p style="font-size:larger">
                <br>
                <br>
                Multiple researches show the use of tai chi, a low-impact martial art, for improving mental
                health. The technique has been associated with reduced stress, anxiety and depression, and
                enhanced mood, in both healthy people and those with chronic conditions.
            </p>
    </div>
    </section>*@
<section class="about" id="about">
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Sports
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Return Back", "Index", "Sports")
            </li>
            <li class="breadcrumb-item active">Sports Description</li>
        </ol>
        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-6">
                <img class="img-responsive" src="@Url.Content("~/Images/category_description/taichi.jpg")" alt="About us">
            </div>
            <div class="col-lg-6">
                <h2>Taichi</h2>
                <p style="font-size:large">
                    Multiple researches show the use of tai chi, a low-impact martial art, for improving mental
                    health. The technique has been associated with reduced stress, anxiety and depression, and
                    enhanced mood, in both healthy people and those with chronic conditions.
                    <br>
                </p>
            </div>
        </div>
    </div>
</section>