﻿@{
                ViewBag.Title = "Yoga";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="about" id="about">
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Sports
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Return Back", "Index", "Sports")
            </li>
            <li class="breadcrumb-item active">Sports Description</li>
        </ol>
        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-6">
                <img class="img-responsive" src="@Url.Content("~/Images/category_description/taichi.jpg")" alt="About us">
            </div>
            <div class="col-lg-6">
                <h2>Yoga</h2>
                <p style="font-size:large">
                    Yoga, a mind-body practice. It is considered one of many types of complementary and
                    integrative health approaches. Yoga brings together physical and mental disciplines that may
                    help you achieve peacefulness of body and mind. This can help you relax and manage stress and
                    anxiety. “Yoga means addition – addition of energy, strength and beauty to body, mind and soul.”
                    <br>
                </p>
            </div>
        </div>
    </div>
</section>