﻿@{
    ViewBag.Title = "About";
}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<!-- Page Content -->
<div class="container">
    <section class="about" id="about">
        <!-- Page Heading/Breadcrumbs -->
        <div>
            <ol class="breadcrumb" style="background-color:transparent;">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("index", "Home")">
                        <img class="active" src="@Url.Content("~/Images/home_icon2.png")">
                    </a>
                </li>
                <li class="breadcrumb-item active">About MindVictoria</li>
            </ol>
        </div>
        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12">
                <h2 class="about_h"> MindVictora – For the international students by international students.</h2>
                <p class="about_font">  MindVictoria  project is to help improve the mental health of the international students in Victoria, Australia. It is operated by international students for the international students. It aims to promote mental wellbeing of international students through arts and sports.</p>
                <p class="about_font">
                    Some of our services also include professional help, mental health articles along with other information to help international students who are mentally stressed, anxious and seeking help.
                </p>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12">
                <img src="@Url.Content("~/Images/banners/about_us.jpg")" alt="About us">
            </div>
        </div>
    </section>
    <!--Acknowledge-->
    <h2 class="text-center">
        Acknowledgement
    </h2>
    <div class="row text-center">
        <hr>
        <h3>Data Source Details</h3>
        <hr>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <img src="@Url.Content("~/Images/sources_logos/data_sources/1.png")">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <img src="@Url.Content("~/Images/sources_logos/data_sources/2.png")">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <img src="@Url.Content("~/Images/sources_logos/data_sources/3.png")">
        </div>
    </div>
    <hr>
    <div class="row text-center" style="padding-top:5%;">
        <hr>
        <h3>Images Source Details</h3>
        <hr>
        <div class="row" style="padding-top:1%;">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="active" src="@Url.Content("~/Images/sources_logos/images_sources/1.png")">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="active" src="@Url.Content("~/Images/sources_logos/images_sources/2.png")">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="active" src="@Url.Content("~/Images/sources_logos/images_sources/3.png")">
            </div>
        </div>
        <div class="row" style="padding-top:5%;">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="active" src="@Url.Content("~/Images/sources_logos/images_sources/4.png")">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="active" src="@Url.Content("~/Images/sources_logos/images_sources/5.png")">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="active" src="@Url.Content("~/Images/sources_logos/images_sources/6.png")">
            </div>
        </div>
        <div class="row" style="padding-top:5%;">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="active" src="@Url.Content("~/Images/sources_logos/images_sources/7.png")">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="active" src="@Url.Content("~/Images/sources_logos/images_sources/8.png")">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="active" src="@Url.Content("~/Images/sources_logos/images_sources/9.png")">
            </div>
        </div>
        <div class="row" style="padding-top:5%;">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="active" src="@Url.Content("~/Images/sources_logos/images_sources/10.png")">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="active" src="@Url.Content("~/Images/sources_logos/images_sources/11.png")">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="active" src="@Url.Content("~/Images/sources_logos/images_sources/12.png")">
            </div>
        </div>
        <div class="row" style="padding-top:5%;">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="active" src="@Url.Content("~/Images/sources_logos/images_sources/13.png")">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="active" src="@Url.Content("~/Images/sources_logos/images_sources/14.png")">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img class="active" src="@Url.Content("~/Images/sources_logos/images_sources/15.png")">
            </div>
        </div>
            <hr>
        </div>
    </div>
<!-- /.row -->
