﻿@{
    Layout = null;
}
<h3 style="text-align:center">@ViewBag.Message</h3>
<form action="/home/credential" method="post">
    <div style="text-align:center; vertical-align:middle">
        <input type="password" style="text-align:center" name="password" />
        <input type="submit" name="button" value="submit" />
    </div>
</form>
