﻿@model MindU_I2.Models.RSInput
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
@Styles.Render("~/Content/RS_Home.css")
<script>
    $("document").ready(function () {
        $('#service_btn').click(function () {
            $('html, body').animate({
                scrollTop: $(".services_section").offset().top
            }, 2500);
        });
    });
    $("document").ready(function () {
        $('#rs_btn').click(function () {
            $('html, body').animate({
                scrollTop: $(".recommend_system").offset().top
            }, 2500);
        });
    });
    $("document").ready(function () {
        $('#get_start').click(function () {
            $('html, body').animate({
                scrollTop: $(".recommend_system").offset().top
            }, 2500);
        });
    });

</script>
<!--banner-->
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto" style="margin-top:21%; margin-left:10%;">
                <h1 style="color:white;">
                    <strong>United we stand</strong>
                </h1>
                <h3 style="color:white;">
                    Reaching out for help is not a sign of weakness, it is a sign of strength. When it gets tough, ask for help
                </h3>
                <a id="service_btn" class="btn btn-primary btn-xl">FIND A SERVICE</a>
                <a id="rs_btn" class="btn btn-primary btn-xl">MORE INFO</a>
            </div>
        </div>
    </div>
</header>
<!-- Page Content -->
<!--Section About-->
<section class="about" style="background-color:#F05F40">
    <div class="container">
        <div class="row" style="margin-top:5%;  color:white;">
            <div class="col-lg-12 mx-auto text-center">
                <h1 class="section-heading text-white">WHO WE ARE</h1>
                <div class="col-md-12" align="center">
                    <h1 style="font-size:x-large">
                        MindVictora – For the international students by the international students.
                    </h1>
                    <p style="font-size:larger; text-align:justify;">
                        MindVictoria is a project to help improve the mental health of the international students in Victoria, Australia. It is operated by international students for the international students.
                    </p>
                    <p style="font-size:larger; text-align:justify;">
                        MindVictoria aims to promote mental wellbeing of international students through arts and sports.
                        Some of our services also include professional help, mental health articles along with other information to help international students who are mentally stressed, anxious and seeking help.
                    </p>
                    <button id="get_start" class="btn btn-light btn-xl" style="margin-bottom:5%;">Get Started!</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section Services-->
<section class="services_section" id="services">
    <div class="row">
        <div class="col-lg-3 col-md-6 services-item">
            <div class="b_card-text">
                <a href='@Url.Action("Search", "Services")'>
                    <img src="@Url.Content("~/Images/boxes/PH.png")" alt="conditions">
                </a>
                <h3 class="b_card-title">
                    Professional Help
                </h3>
                <div class="b_card-body">
                    <p class="b_card-text">
                        locate consultants, clinics and other mental health institutions.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 services-item">
            <div class="b_card-text">
                <a href='@Url.Action("Index", "Arts")'>
                    <img src="@Url.Content("~/Images/boxes/art.png")" alt="conditions">
                </a>
                <h3 class="b_card-title">
                    Art Spaces
                </h3>
                <div class="b_card-body">
                    <p class="b_card-text">
                        Find the finest art planes in and around Melbourne.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 services-item">
            <div class="b_card-text">
                <a href='@Url.Action("Index", "Sports")'>
                    <img src="@Url.Content("~/Images/boxes/sport.png")" alt="conditions">
                </a>
                <h3 class="b_card-title">
                    Sports Activities
                </h3>
                <div class="b_card-body">
                    <p class="b_card-text">
                        Physical activities that improve the mental health
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 services-item">
            <div class="b_card-text">
                <a href='@Url.Action("Helpline", "Home")'>
                    <img src="@Url.Content("~/Images/boxes/helpline.png")" alt="conditions">
                </a>
                <h3 class="b_card-title">
                    Hotlines
                </h3>
                <div class="b_card-body">
                    <p class="b_card-text">
                        24 hours helplines and emergencies.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Section RS-->
<section class="recommend_system col-lg-12" style="background-color:#F05F40; height:72%; width:100%;">
    <br />
    <h2 class="text-center" style="color:#fff">For more info, tell me what you like...</h2>
    <div class="container" style=" background-color:honeydew;  height:68%; width:45%; margin-top:1.8%; margin-bottom:2%; box-shadow:0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);">
        @using (Html.BeginForm("Result", "Home", FormMethod.Post))
        {
            <div class="form-group">
                <div class="col-lg-12">
                    <h3>Are you seeking professinal help?</h3>
                </div>
                <div class="col-md-12  text-center">
                    <div class="col-md-3  text-center">
                        @Html.RadioButton("needPH", true, false, new { @id = "radio-img-5", @style = "size"})
                        @Html.Label("radio-img-5", new { @class = "Yes" })
                    </div>
                    <div class="col-md-4  text-center">
                        @Html.RadioButton("needPH", false, false, new { @id = "radio-img-6" })
                        @Html.Label("radio-img-6", new { @class = "No" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <h3>Are you an art lover? </h3>
                </div>
                <div class="col-md-12  text-center">
                    <div class="col-md-3">
                        @Html.RadioButton("likeArt", true, false, new { @id = "radio-img-1" })
                        @Html.Label("radio-img-1", new { @class = "Yes" })
                    </div>
                    <div class="col-md-4  text-center">
                        @Html.RadioButton("likeArt", false, false, new { @id = "radio-img-2" })
                        @Html.Label("radio-img-2", new { @class = "No" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <h3>Do you Want to know more about mental health conditions?</h3>
                </div>
                <div class="col-md-12  text-center">
                    <div class="col-md-3 text-center">
                        @Html.RadioButton("needInfo", true, false, new { @id = "radio-img-7" })
                        @Html.Label("radio-img-7", new { @class = "Yes" })
                    </div>
                    <div class="col-md-4  text-center">
                        @Html.RadioButton("needInfo", false, false, new { @id = "radio-img-8" })
                        @Html.Label("radio-img-8", new { @class = "No" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <h3>Are you an active person?</h3>
                </div>
                <div class="col-md-12  text-center">
                    <div class="col-md-3  text-center">
                        @Html.RadioButton("likeSport", true, false, new { @id = "radio-img-3" })
                        @Html.Label("radio-img-3", new { @class = "Yes" })
                    </div>
                    <div class="col-md-4  text-center">
                        @Html.RadioButton("likeSport", false, false, new { @id = "radio-img-4" })
                        @Html.Label("radio-img-4", new { @class = "No" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12  text-center">
                    <br />
                    <button type="submit" class="btn btn-primary btn-xl">Submit</button>
                </div>
            </div>
        }
    </div>
</section>
<div class="container">

</div>