﻿@model Tuple<List<MindU_I2.Models.Art>, List<MindU_I2.Models.Sport>>

@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="img-responsive">
        <img style="width:100%;" src="@Url.Content("~/Images/banners/rs_banner.jpg")">
    </div>
    <div>
        <ol class="breadcrumb" style="background-color:transparent;">
            <li class="breadcrumb-item">
                <a href="@Url.Action("index", "Home")">
                    <img class="active" src="@Url.Content("~/Images/home_icon2.png")">
                </a>
            </li>
            <li class="breadcrumb-item active">Recommendations</li>
        </ol>
    </div>
    <!--Show we show the top-3-->
    <div class="col-lg-12">
        We show the top-3 items for you and the rating is based on our customer rating.
        </div>
    <!--If all are "No"-->
    @if (Model.Item1 == null && Model.Item2 == null && ViewBag.needPH == false && ViewBag.needInfo == false) {
        <div class="col-lg-12">
            <h1>Sorry, nothing to show. For better service, please share what you love with us.</h1>
        </div>
    }
    <!--Art Results-->
    @if (Model.Item1 != null)
    {
        <section class="art_results">
            @foreach (var item in Model.Item1)
            {
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width:360px; height:450px;">
                        <p class="card-head">
                            @foreach (var imgItem in item.ArtImages)
                            {
                                <a href=@item.website>
                                    <img src="@Url.Content("~/images/arts/" + Path.GetFileName(imgItem.imgPath))" alt=@item.name width="360" height="200" />
                                </a>
                            }
                        </p>
                        <h3 class="card-title">
                            @item.name
                        </h3>
                        <div class="card-body">
                            <p class="card-text">
                                <img src="@Url.Content("~/Images/info_icons/map_icon.png")">
                                :
                                @item.address,  @item.suburb),  @item.state,  @item.postcode
                            </p>
                        </div>
                        <div class="text-center">
                            <p class="card-text">
                                <a href="@Url.Action("Index", "Arts", new { category = @item.category})" style="position:absolute; top:88%; left:60%; ">More @item.category</a>
                            </p>
                        </div>

                    </div>
                </div>
            }
        </section>
    }
    @if (Model.Item2 != null)
    {
        <!--Sport Result-->
        <section class="sport_result">
            @foreach (var item in Model.Item2)
            {
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width:360px; height:450px;">
                        <p class="card-head">
                            @foreach (var imgItem in item.SportImages)
                            {
                                <img src="@Url.Content("~/images/sports/sport" + Path.GetFileName(imgItem.imgPath))" alt=@item.name ) width="360" height="200" />

                            }
                        </p>
                        <h3 class="card-title">
                            @item.name
                        </h3>
                        <div class="card-body">
                            <p class="card-text">
                                <img src="@Url.Content("~/Images/info_icons/map_icon.png")">
                                :
                                @item.address,  @item.suburb,  @item.state,  @item.postcode
                            </p>
                            <p class="card-text">
                                <img src="@Url.Content("~/Images/info_icons/phone_icon.png")">
                                : @item.contact
                            </p>
                        </div>
                        <div>
                            <p class="card-text">
                                <a href="@Url.Action("Index", "Sports", new { category = @item.category})" style="position:absolute; top:88%; left:42%; ">More @item.category</a>
                            </p>
                        </div>
                    </div>
                </div>

            }
        </section>
    }
    <!--Professional Help Section-->
    @if (ViewBag.needPH == true)
    {
        <section class="PH_results">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width:360px; height:450px;">
                    <p class="card-head">
                        <img src="@Url.Content("~/images/rs_cards/ph_card.jpg")" alt=professinal_help) width="360" height="200" />
                    </p>
                    <h3 class="card-title">
                        Professional Help
                    </h3>
                    <div class="card-body">
                        <p class="card-text">
                            If you ask for professional treatment or consultation, some information is provided to you.
                        </p>
                    </div>
                    <div class="text-center">
                        <p class="card-text">
                            <a href="@Url.Action("Search", "Services", new { category = "Psychological Clinic"})" style="position:absolute; top:88%; left:70%; ">More Info</a>
                        </p>
                    </div>

                </div>
            </div>
        </section>
    }
    <!--Mental Health Condition Part-->
    @if (ViewBag.needInfo == true)
    {
        <section class="MH_results">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width:360px; height:450px;">
                    <p class="card-head">
                        <img src="@Url.Content("~/images/people/people1.jpg")" alt=article1 width="360" height="200" />
                    </p>

                    <h3 class="card-title">
                        Panic Attack
                    </h3>
                    <div class="card-body">
                        <p class="card-text">
                            A panic attack is a brief episode of intense anxiety, which causes the physical sensations of fear.
                        </p>
                    </div>
                    <div class="text-center">
                        <p class="card-text">
                            <a href="@Url.Action("ConditionsInfo", "Services")" style="position:absolute;  top:88%; left:75%; ">More Info</a>
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width:360px; height:450px;">
                    <p class="card-head">
                        <img src="@Url.Content("~/images/rs_cards/mh_card.jpg")" alt=mental_health_conditions) width="360" height="200" />
                    </p>
                    <h3 class="card-title">
                        Anxiety
                    </h3>
                    <div class="card-body">
                        <p class="card-text">
                            Anxiety is more than just feeling stressed or worried.
                    </div>
                    <div class="text-center">
                        <p class="card-text">
                            <a href="@Url.Action("ConditionsInfo", "Services")" style="position:absolute; top:88%; left:75%; ">More Info</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    }
</div>