﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Catogory information";
}
<div class="container">
    <div>
        <ol class="breadcrumb" style="background-color:transparent;">
            <li class="breadcrumb-item">
                <a href="@Url.Action("index", "Home")">
                    <img class="active" src="@Url.Content("~/Images/home_icon2.png")" style="width:25px; height:25px;">
                </a>
            </li>
            <li class="breadcrumb-item active">Arts&Sports Category Information</li>
        </ol>
    </div>
    <div class="tab">
        <button class="tablinks" onclick="openCategory(event, 'ArtGallery')" id="defaultOpen">Art Gallery</button>
        <button class="tablinks" onclick="openCategory(event, 'ArtSchool')">Art School</button>
        <button class="tablinks" onclick="openCategory(event, 'Museum')">Museum</button>
        <button class="tablinks" onclick="openCategory(event, 'Fitness')">Fitness Center</button>
        <button class="tablinks" onclick="openCategory(event, 'Pilates')">Pilates</button>
        <button class="tablinks" onclick="openCategory(event, 'Swimming')">Swimming Complex</button>
        <button class="tablinks" onclick="openCategory(event, 'Taichi')">Tai Chi</button>
        <button class="tablinks" onclick="openCategory(event, 'Yoga')">Yoga</button>
    </div>

    <div id="ArtGallery" class="tabcontent">
        <h3 style="font:bold;">Art Gallery</h3>
        <p>
            It is estimated that almost half of Australians will experience a mental health condition in their
            lifetime and, around 1 million Australian adults will have depression in any one year (Australian
            Bureau of Statistics, 2017). The arts can play an important role in supporting health and wellbeing
            in individuals and communities including raising awareness, intervention and providing opportunities
            to actively participate.
        </p>
        <p>
            An Australian study found that people with 100 or more hours per year of arts engagement (i.e.
            at least 2 hours per week) had significantly better mental wellbeing than those with no or lower
            levels of engagement.
        </p>
    </div>

    <div id="ArtSchool" class="tabcontent">
        <h3>Art School</h3>
        <p>
            Activities like painting, sculpting, drawing, and photography are relaxing and rewarding hobbies that can lower your stress levels
            and leave you feeling mentally clear and calm. Creating art provides a distraction, giving your brain a break from your usual thoughts.
            The average person has 60,000 thoughts per day and 95% of them are the same day in, day out! When you get totally immersed in a creative endeavor,
            you may find yourself in what’s known as “the zone” or in a state of “flow.”
        </p>
    </div>

    <div id="Museum" class="tabcontent">
        <h3>Museum</h3>
        <p>
            It is widely recognized that museums offer an environment that is safe and unthreatening;
            it is a distinctly different kind of “space” where positive behavior can be encouraged
            (eg looking, listening, discussing, socializing, enjoyment, creativity).
            Some research indicates that creative activity in museums has a significant beneficial
            effect on the mental wellbeing of people suffering from mental distress and that the museum setting has contributed to this effect.
        </p>
    </div>
    <div id="Fitness" class="tabcontent">
        <h3>Fitness Center</h3>
        <p>
            The link between exercise and mental health is complicated. Inactivity can be both a cause and
            a consequence of mental illness, for example. And while we don’t know exactly why or how
            exercise boosts mood, here are some possible explanations:
            Regular exercise can help you sleep better. And good sleep helps you regulate your moods.
            Exercise can improve your sense of control, coping ability and self-esteem. People who exercise
            regularly often report how good achieving a goal makes them feel.
            Exercise can distract you from negative thoughts and provide opportunities to try new experiences.

        </p>
    </div>

    <div id="Pilates" class="tabcontent">
        <h3>Pilates</h3>
        <p>
            Since its creation in the 1920s, Pilates has been used around the world to increase muscle
            strength and tone, improve flexibility and posture and lose weight. However, more research is
            suggesting that Pilates also has a wide range of mental health benefits.
        </p>
    </div>

    <div id="Swimming" class="tabcontent">
        <h3>Swimming Complex</h3>
        <p>
            Any kind of physical activity can have a positive effect on mental health and wellbeing, but
            swimming is particularly effective. Swimming for just half an hour three times a week can lower
            stress levels, raise mood, lower incidences of depression and anxiety and improve sleep patterns./p>
    </div>
    <div id="Taichi" class="tabcontent">
        <h3>Tai Chi</h3>
        <p>
            Multiple researches show the use of tai chi, a low-impact martial art, for improving mental
            health. The technique has been associated with reduced stress, anxiety and depression, and
            enhanced mood, in both healthy people and those with chronic conditions.
        </p>
    </div>

    <div id="Yoga" class="tabcontent">
        <h3>Yoga</h3>
        <p>
            Yoga, a mind-body practice. It is considered one of many types of complementary and
            integrative health approaches. Yoga brings together physical and mental disciplines that may
            help you achieve peacefulness of body and mind. This can help you relax and manage stress and
            anxiety. “Yoga means addition – addition of energy, strength and beauty to body, mind and soul.”
        </p>
    </div>
</div>
@Scripts.Render("~/Scripts/data_script.js")
