﻿@{
    ViewBag.Title = "Mental Health Conditons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="img-responsive">
        <img style="width:100%;" src="@Url.Content("~/Images/banners/data_banner.jpg")">
    </div>
    <div>
        <ol class="breadcrumb" style="background-color:transparent;">
            <li class="breadcrumb-item">
                <a href="@Url.Action("index", "Home")">
                    <img class="active" src="@Url.Content("~/Images/home_icon2.png")">
                </a>
            </li>
            <li class="breadcrumb-item active">Mental Health Condition Articles</li>
        </ol>
    </div>
    <section class="articles">
        <!--article1-->
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card" style="width:550px; height:610px;">
                <p class="card-head">
                    <img src="@Url.Content("~/images/people/people1.jpg")" alt=mental_health_conditions) width="550" height="300" />
                </p>
                <h3 class="card-title">
                    Panic Attack
                </h3>
                <div class="card-body">
                    <p class="card-text">
                        A panic attack is a brief episode of intense anxiety, which causes the physical sensations of fear. These can include a racing heartbeat, shortness of breath, dizziness, trembling and muscle tension. A panic attack can last from a few minutes to half an hour. However, the physical and emotional effects of the attack may last for a few hours.
                    </p>
                </div>
                <div class="text-center">
                    <!--need to change the atrr in db-->
                    <p class="card-text">
                        <a href="https://www.betterhealth.vic.gov.au/health/conditionsandtreatments/panic-attack" style="position:absolute; top:88%; left:85%; ">More Info</a>
                    </p>
                </div>

            </div>
        </div>

        <!--article2-->
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card" style="width:550px; height:610px;">
                <p class="card-head">
                    <img src="@Url.Content("~/images/people/people2.jpg")" alt=mental_health_conditions) width="550" height="300" />
                </p>
                <h3 class="card-title">
                    Anxiety
                </h3>
                <div class="card-body">
                    <p class="card-text">
                        Anxiety is more than just feeling stressed or worried. While stress and anxious feelings are a common response to a situation where we feel under pressure, they usually pass once the stressful situation has passed, or ‘stressor’ is removed.
                    </p>
                </div>
                <div class="text-center">
                    <!--need to change the atrr in db-->
                    <p class="card-text">
                        <a href="https://www.beyondblue.org.au/the-facts/anxiety" style="position:absolute; top:88%; left:85%;">More Info</a>
                    </p>
                </div>

            </div>
        </div>
        <!--article3-->
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card" style="width:550px; height:610px;">
                <p class="card-head">
                    <img src="@Url.Content("~/images/people/people3.jpg")" alt=mental_health_conditions) width="550" height="300" />
                </p>
                <h3 class="card-title">
                    Hopelessness
                </h3>
                <div class="card-body">
                    <p class="card-text">
                        Hopelessness thoughts shape your perceptions and amplify your down mood. These negative thoughts pivot on expectations, such as you can't change, and your life will continue to go badly. You may believe that your depression will never end. You fear you have no way to free yourself from your dark mood and depressive pessimism.

                    </p>
                </div>
                <div class="text-center">
                    <!--need to change the atrr in db-->
                    <p class="card-text">
                        <a href="https://www.psychologytoday.com/au/blog/science-and-sensibility/201502/overcome-hopelessness-thinking-and-stop-feeling-depressed" style="position:absolute; top:88%; left:85%; ">More Info</a>
                    </p>
                </div>

            </div>
        </div>
        <!--article4-->
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card" style="width:550px; height:610px;">
                <p class="card-head">
                    <img src="@Url.Content("~/images/people/people4.jpg")" alt=mental_health_conditions) width="550" height="300" />
                </p>
                <h3 class="card-title">
                    Sleep Disorders
                </h3>
                <div class="card-body">
                    <p class="card-text">
                        Many of us experience trouble sleeping at one time or another. Usually it’s due to stress, travel, illness, or other temporary interruptions to your normal routine. But if sleep problems are a regular occurrence and interfere with your daily life, you may be suffering from a sleep disorder.
                    </p>
                </div>
                <div class="text-center">
                    <!--need to change the atrr in db-->
                    <p class="card-text">
                        <a href=" https://www.helpguide.org/articles/sleep/sleep-disorders-and-problems.htm" style="position:absolute; top:88%; left:85%; ">More Info</a>
                    </p>
                </div>

            </div>
        </div>
        <!--article5-->

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card" style="width:550px; height:610px;">
                <p class="card-head">
                    <img src="@Url.Content("~/images/people/people5.jpg")" alt=mental_health_conditions) width="550" height="300" />
                </p>
                <h3 class="card-title">
                    Depression
                </h3>
                <div class="card-body">
                    <p class="card-text">
                        Depression is a serious mental illness that can interfere with a person's life. It can cause long-lasting and severe feelings of sadness, hopelessness, and a loss of interest in activities.
                    </p>
                </div>
                <div class="text-center">
                    <!--need to change the atrr in db-->
                    <p class="card-text">
                        <a href="https://www.medicalnewstoday.com/articles/314071.php" style="position:absolute; top:88%; left:85%; ">More Info</a>
                    </p>
                </div>

            </div>
        </div>
        <!--article6-->
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card" style="width:550px; height:610px;">
                <p class="card-head">
                    <img src="@Url.Content("~/images/people/people6.jpg")" alt=mental_health_conditions width="550" height="300" />
                </p>
                </p>
                <h3 class="card-title">
                    Self-Harm
                </h3>
                <div class="card-body">
                    <p class="card-text">
                        Self-harm is relatively common. Research shows that about 1% of Australians have self-harmed within the last month and about 8% have self-harmed in their lifetime. Most people start self-harming as a teenager or young adult. It can continue for many years and become a habit that is difficult to stop.
                    </p>
                </div>
                <div class="text-center">
                    <!--need to change the atrr in db-->
                    <p class="card-text">
                        <a href="https://www.lifeline.org.au/get-help/topics/self-harm" style="position:absolute; top:88%; left:85%; ">More Info</a>
                    </p>
                </div>

            </div>
        </div>
    </section>
</div>