﻿@{
    ViewBag.Title = "How to help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <div>
        <ol class="breadcrumb" style="background-color:transparent;">
            <li class="breadcrumb-item">
                <a href="@Url.Action("index", "Home")">
                    <img class="active" src="@Url.Content("~/Images/home_icon2.png")">
                </a>
            </li>
            <li class="breadcrumb-item active">How to help</li>
        </ol>
    </div>
    <section class="help_info">
        <h2 style="text-align:center; color:orangered; font:bold;">
            How to Help
        </h2>
        <div class="col-lg-12">
            <p class="tip_content">Mental health is the overall psychological well-being—the way people feel about themselves and others as well as the ability to manage their feelings and deal with everyday difficulties. Mental health can be promoted by taking steps to improve the emotional health on one’s own or through the help of others. Making these changes will pay off in all aspects of one’s life. It can boost one’s mood, build resilience, and add to the overall enjoyment of one’s life.</p>
        </div>
        <div class="col-lg-12">
            <div class="text-center" style="margin-top:2%;">
                <iframe style="width:55vw; height: 70vh;" src="https://www.youtube.com/embed/YZGJmSdX35c" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </section>


    <!--Videos Section-->

</div>