﻿@{
    ViewBag.Title = "Young People Mental Health";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/Chart.min.js")
<div class="container">
    <div>
        <ol class="breadcrumb" style="background-color:transparent;">
            <li class="breadcrumb-item">
                <a href="@Url.Action("index", "Home")">
                    <img class="active" src="@Url.Content("~/Images/home_icon2.png")">
                </a>
            </li>
            <li class="breadcrumb-item active">Resources - The Mental Health of Teritiary Students </li>
        </ol>
    </div>
    <h2 style="text-align:center; color:orangered; font:bold;">
        The Mental Health Conditions of Teritiary Students in Australia
    </h2>
    <br>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p class="context_content">
                The bar chart shows a comparative study, listing the top reported mental health issues among young Australian students, aged between 17 to 25 years. More than 80% of Australian University students feel stressed, lack motivation and feels anxious. This is a severe threat to their mental wellbeing and eventually it has long term impact on their mental and physical health. About 30% of the students confessed they have thoughts of self-harm or even suicides.
            </p>
            <p class="context_content">
                Proper mental health support must be ensured to help them through this early adulthood phase, and international students are more prone to mental health issues, as they are young adults in transition. away from their family, friends, culture and country. Source: HeadSpace Australia, 2017.
            </p>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="chart-container" style="width:85%; height: 50%">
                <canvas id="bar-chart"></canvas>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/conditions.js")