﻿/*Style for the recommend system section on the home page*/
/* Default styles */
input[type=radio].default, input[type=checkbox].default {
    display: inline-block !important;
    margin-left: 15px;
}
/* Radio buttons sprite background image */
input[type=radio] {
    display: none;
    border: 0px;
    width: 100%;
    height: 3em;
}

    input[type=radio] + label.Yes {
        display: inline-block;
        cursor: pointer;
        outline: 0;
        width: 50px;
        height: 50px;
        background-image: url('../../Images/rs_icons/yes1.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        text-indent: -99999px;
    }

    input[type=radio]:checked + label.Yes {
        background-image: url('../../Images/rs_icons/yes2.png');
    }

    input[type=radio] + label.No {
        display: inline-block;
        cursor: pointer;
        outline: 0;
        width: 50px;
        height: 50px;
        background-image: url('../../Images/rs_icons/no1.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        text-indent: -99999px;
    }

    input[type=radio]:checked + label.No {
        background-image: url('../../Images/rs_icons/no2.png');
    }