﻿
@{
    ViewBag.Title = "ArtGallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="about" id="about">
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Arts
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Return Back", "Index", "Arts")
            </li>
            <li class="breadcrumb-item active">Arts Description</li>
        </ol>
        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-6">
                <img class="img-responsive" src="@Url.Content("~/Images/category_description/artgallery.jpg")" alt="About us">
            </div>
            <div class="col-lg-6">
                <h2>Art Gallery</h2>
                <p style="font-size:large">
                    It is estimated that almost half of Australians will experience a mental health condition in their
                    lifetime and, around 1 million Australian adults will have depression in any one year (Australian
                    Bureau of Statistics, 2017). The arts can play an important role in supporting health and wellbeing
                    in individuals and communities including raising awareness, intervention and providing opportunities
                    to actively participate.<br>
                    An Australian study found that people with 100 or more hours per year of arts engagement (i.e.
                    at least 2 hours per week) had significantly better mental wellbeing than those with no or lower
                    levels of engagement.
                </p>
            </div>
        </div>
    </div>
</section>