﻿@{
    ViewBag.Title = "ArtSchool";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2 style="text-align:center">Art School</h2>
    <br>
    <div align=center>
        <img align="middle" src="~/Images/category_description/artschool.jpg">
    </div>
    <section class="py-lg-5">
        <div class="container">
            <p style="font-size:larger">
                <br>
                <br>
                Activities like painting, sculpting, drawing, and photography are relaxing and rewarding hobbies that can lower your stress levels
                and leave you feeling mentally clear and calm. Creating art provides a distraction, giving your brain a break from your usual thoughts.
                The average person has 60,000 thoughts per day and 95% of them are the same day in, day out! When you get totally immersed in a creative endeavor,
                you may find yourself in what’s known as “the zone” or in a state of “flow.”
            </p>
            </div>
    </section>*@
<section class="about" id="about">
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Arts
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Return Back", "Index", "Arts")
            </li>
            <li class="breadcrumb-item active">Arts Description</li>
        </ol>
        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-6">
                <img class="img-responsive" src="@Url.Content("~/Images/category_description/artschool.jpg")" alt="About us">
            </div>
            <div class="col-lg-6">
                <h2>Art School</h2>
                <p style="font-size:large">
                    Activities like painting, sculpting, drawing, and photography are relaxing and rewarding hobbies that can lower your stress levels
                    and leave you feeling mentally clear and calm. Creating art provides a distraction, giving your brain a break from your usual thoughts.
                    The average person has 60,000 thoughts per day and 95% of them are the same day in, day out! When you get totally immersed in a creative endeavor,
                    you may find yourself in what’s known as “the zone” or in a state of “flow.”
                </p>
            </div>
        </div>
    </div>
</section>