﻿@model IEnumerable<MindU_I2.Models.Art>

@{
    ViewBag.Title = "Art Spaces";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    function myFunction(addr) {
        window.open("https://www.google.com/maps/place/" + addr);
    }
</script>
@Styles.Render("~/Content/RS_Home.css")
@Scripts.Render("~/Scripts/like.js")

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Page Content -->

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2 style="color:orangered; font:bold;">Art Spaces</h2>
            <h3>“Art washes from the soul the dust of everyday life.”— Pablo Picasso</h3>
            <p style="font-size:larger; text-align:justify;">Art enhances problem-solving skills.Unlike math, there is no correct answer in art.</p>
            <p style="font-size:larger; text-align:justify;">Art encourages creative thinking and lets you come up with your own unique solutions.It also boosts self-esteem and provides a Sense of Accomplishment.</p>
            <p style="font-size:larger; text-align:justify;">The benefits of visual art programs are equally impressive. and art lessons increase brain plasticity, fluid intelligence, IQ, and attention.They improve overall behavior and reduce impulsiveness..</p>
        </div>
        <div class="col-lg-1">

        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="@Url.Content("~/Images/arts/art_main.jpg")" alt="Art Banner" style="width:300px; height:300px;">
        </div>
    </div>
    <div>
        <ol class="breadcrumb" style="background-color:transparent;">
            <li class="breadcrumb-item">
                <a href="@Url.Action("index", "Home")">
                    <img class="active" src="@Url.Content("~/Images/home_icon2.png")">
                </a>
            </li>
            <li class="breadcrumb-item active">Art Spaces</li>
        </ol>
    </div>
    <section class="search">
        <div class="form-inline">
            <div>
                <br>
                <h3 class="text-center" style="color:white; margin-top:3px;">Search arts</h3>
            </div>
            @using (Html.BeginForm("Index", "Arts", FormMethod.Get, new { role = "form", @class = "form-inline" }))
            {
                <div class="form-group">
                    <div class="col-md-12" style="width:auto;">
                        @Html.TextBox("name", null, new { @class = "form-control", @placeholder = "Search by name" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12" style="width:auto;">
                        @Html.DropDownList("category", new SelectList(ViewBag.selectList, "value", "text", ViewBag.defaultSelect), new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-light btn-xl">Search</button>
                    </div>
                </div>
            }
        </div>
    </section>
    <section class="ARTS" style="margin-bottom:10%;">
        @if (Model.Count() == 0)
        {
            <h3 class="text" style=" text-align:center;">No items found</h3>
        }


        <!--Foreach to list art spaces-->

        @foreach (var item in Model)
        {
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card" style="width:530px; height:480px;">
                    <p class="card-head">
                        @foreach (var imgItem in item.ArtImages)
                        {
                            <a>
                                <img src="@Url.Content("~/images/arts/" + Path.GetFileName(imgItem.imgPath))" alt=@Html.DisplayFor(modelItem => item.name) width="530" height="300" />
                            </a>
                        }
                    </p>
                    <h3 class="card-title">
                        <a href="@item.website"> @item.name</a>
                    </h3>
                    <div class="card-body">
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.address), @Html.DisplayFor(modelItem => item.suburb), VIC @Html.DisplayFor(modelItem => item.postcode)
                        </p>
                    </div>
                    <div class="text-center">
                        <!--need to change the atrr in db-->
                        <p class="text-center">
                            <a class="btn btn-primary btn-xl" onclick="myFunction('@item.address ' + '@item.suburb ' + 'VIC' + ' @item.postcode')">Go to Map</a>
                            &nbsp;&nbsp;
                            @foreach (var rateItem in item.ArtRatings)
                            {
                                <a href="javascript:void(0)" class="like" data-id="@rateItem.rid">
                                    <img src="@Url.Content("~/Images/rs_icons/un_heart.png")" alt="like" style="width:20px; height:20px;">
                                    @Html.DisplayFor(modelItem => rateItem.likes)
                                </a>
                            }
                        </p>
                    </div>

                </div>
            </div>

        }

    </section>
</div>
<br>
<br>
<br>

<div class="text-center">

    @if (ViewBag.Page > 0)
    {
        <a href="@Url.Action("Index", new { page = ViewBag.Page - 1 })"
           class="btn btn-primary btn-xl align-content-between">
            Previous
        </a>
    }
    @if (ViewBag.Page < ViewBag.MaxPage)
    {
        <a href="@Url.Action("Index", new { page = ViewBag.Page + 1 })"
           class="btn btn-primary btn-xl align-content-between">
            Next
        </a>
    }
</div>

