﻿@{
    ViewBag.Title = "Museum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="about" id="about">
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Arts
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Return Back", "Index", "Arts")
            </li>
            <li class="breadcrumb-item active">Arts Description</li>
        </ol>
        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-6">
                <img class="img-responsive" src="@Url.Content("~/Images/category_description/museum.jpg")" alt="About us">
            </div>
            <div class="col-lg-6">
                <h2>Museum</h2>
                <p style="font-size:large">
                    It is widely recognized that museums offer an environment that is safe and unthreatening;
                    it is a distinctly different kind of “space” where positive behavior can be encouraged
                    (eg looking, listening, discussing, socializing, enjoyment, creativity).
                    Some research indicates that creative activity in museums has a significant beneficial
                    effect on the mental wellbeing of people suffering from mental distress and that the museum setting has contributed to this effect.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /.row -->
